* {
    margin: 0;
    padding: 0;
    max-width: 1200px;
    
}

hr {
  color: #c78c06;
}

html {
    margin-left : 15%;
    max-width: 1200px;
    margin-right: 20%;

}


@media only screen and (min-width: 760px) {
  body {
    background-color: lightblue;
  }

input[type="text"] {
  width : 100%;
  
  }
  textarea[id="Message"] {
  width : 100%;
  }

.div img {
    max-width: 1200px;
    background-color: black;
}

.logo {
  background-color: black;
}

.header {
  background-color: black;
  padding-right: 100%;
}

a {
  color: #c78c06;
  text-decoration: none;
  font: larger;
}

nav {
    list-style: none;
    display: inline-block;
    font-size: larger;
    text-align: center;
    text-decoration-color: black; 
    padding-left: 50%;
    text-decoration-line: none;
    color: #c78c06;
    background-color: black;
    padding-right: 43%;
   } 

nav li {
   list-style: none;
   text-decoration: none;
   text-decoration-color: black;
   text-decoration-line: none;
   color: #c78c06;
   padding-bottom: 30px; 
}

.topnav {
      background-color: black;
      height: 30%;
      padding-bottom: 20px;
    
}
.topnav .fa-solid {
  color: #c78c06;
  border: #c78c06;
  position: absolute;
  top: 387px;
  
  
}


.introduction img {
   width: 100%;
}



.wrapper .content {
  
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  position: absolute; /* Position the background text */
  bottom: 10%; /* At the bottom. Use top:0 to append it to the top */
  text-align: left;
  margin-right: 20%;
  
  
}

.wrapper .btn {
    position: absolute;
    bottom: 0%; 
    background-color: goldenrod;
    width: 20%;
    font-size: larger;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 1px;
    
    
}
.wrapper .fa-solid {
    position: absolute;
    bottom: 2%; 
    padding-left: 15%;
}

.about-us {
    background-color: #ffe6ac;
    padding-bottom: 20px;
    
}

.about-us img {
    max-width: auto;
    width: fit-content;
    padding-left: 30px;
    padding-top: 10px;
}

h2{
    font-size: xx-large;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    
}

p {
    font-size: large;
    padding-left: 10px;
    
}

.our-services {
    font-size: xx-large;
    
    padding-top: 20px;
    
}

.our-services img {
    width: 100%;
    height: 500px;
    /* padding-top: 10px; */ 
    background-color: #ffe6ac;
    padding-bottom: 250px;
    position: relative;

}



.our-services .content-1 {
  position: absolute; /* Position the background text */
  bottom: -255%; /* At the bottom. Use top:0 to append it to the top */
  text-align: left;
  margin-right: 20%;
  
  }
    
  .our-services .btn-1 {
    position: absolute;
    bottom: -265%;
    background-color: black;
    color: #f1f1f1;
    width: 20%;
    font-size: large;
    padding: 20px 30px;
    border: none;
    cursor: pointer;
    border-radius: 1px;
    /* padding-top: 5px;
    padding-bottom: 5px; */

  }

  .our-services .fa-solid {
    position: absolute;
    bottom: -263%; 
    color: #f1f1f1;
    padding-left: 15%;
  }

.marketing img {
    width: 100%;
    height: 500px;
    /* padding-top: 10px; */ 
    position: relative;
}

.marketing .content-2 {
    position: absolute; /* Position the background text */
    bottom: -365%; /* At the bottom. Use top:0 to append it to the top */
    background-color: #ffe6ac;
    text-align: left;
    margin-right: 20%;
    padding-top: 2px;
    padding-bottom: 100px;
}
.marketing .btn-2 {
    position: absolute;
    bottom: -362%;
    background-color: black;
    color: #f1f1f1;
    width: 20%;
    font-size: x-large;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 1px;
    padding-top: 20px;
    padding-bottom: 20px;

  }

.marketing .fa-solid {
    position: absolute;
    bottom: -358.5%; 
    color:#f1f1f1;
    padding-left: 17%;
  }

  .video-production img{
    width: 100%;
    height: 500px;
    /* padding-top: 10px; */ 
    position: relative;
    bottom: -140px;
  }
    

.video-production .content-3 {
    position: absolute; /* Position the background text */
    bottom: -460%; /* At the bottom. Use top:0 to append it to the top */
    background-color: #ffe6ac;
    text-align: left;
    margin-right: 20%;
    padding-top: 2px;
    padding-bottom: 100px;
}

.video-production .btn-3 {
    position: absolute;
    bottom: -458%;
    background-color: black;
    color: #f1f1f1;
    width: 20%;
    font-size: x-large;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 1px;
    padding-top: 20px;
    padding-bottom: 20px;

  }

  .video-production .fa-solid {
    position: absolute;
    bottom: -454.5%; 
    color:#f1f1f1;
    padding-left: 15%;
  }

  .web-development img{
    width: 100%;
    height: 500px;
    /* padding-top: 10px; */ 
    position: relative;
    bottom: -285px;
  }

  .web-development .content-4 {
    position: absolute; /* Position the background text */
    bottom: -560%; /* At the bottom. Use top:0 to append it to the top */
    background-color: #ffe6ac;
    text-align: left;
    margin-right: 20%;
    padding-top: 2px;
    padding-bottom: 120px;
}

.web-development .btn-4 {
    position: absolute;
    bottom: -555%;
    background-color: black;
    color: #f1f1f1;
    width: 20%;
    font-size: x-large;
    padding: 25px 30px;
    border: none;
    cursor: pointer;
    border-radius: 1px;
    padding-top: 20px;
    padding-bottom: 20px;

  }

  .web-development .fa-solid {
    position: absolute;
    bottom: -551.5%; 
    color:#f1f1f1;
    padding-left: 15%;
  }

  .print img{
    width: 100%;
    height: 500px;
    /* padding-top: 10px; */ 
    position: relative;
    bottom: -480px;
  }

  .print .content-5 {
    

    position: absolute; /* Position the background text */
    bottom: -660.5%; /* At the bottom. Use top:0 to append it to the top */
    background-color: #ffe6ac;
    text-align: left;
    margin-right: 20%;
    padding-top: 2px;
    padding-bottom: 120px;
}
}

.print .btn-5 {
    position: absolute;
    bottom: -655%;
    background-color: black;
    color: #f1f1f1;
    width: 20%;
    font-size: x-large;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 1px;
    padding-top: 20px;
    padding-bottom: 20px;

  }

  .print .fa-solid {
    position: absolute;
    bottom: -652%; 
    color:#f1f1f1;
    padding-left: 15%;
  }

  .our-vision img{
    width: 100%;
    height: 400px;
    /* padding-top: 10px; */ 
    position: relative;
    bottom: -700px;
  }

  .our-vision .content-6 {
    position: absolute; /* Position the background text */
    bottom: -695%; /* At the bottom. Use top:0 to append it to the top */
   /*  background: rgb(0, 0, 0); /* Fallback color */ 
   /*  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    
}
.our-vision p {
     text-align: left;
     padding-right: 22%;
     
}

.our-vision .btn-6 {
    position: absolute;
    bottom: -710%; 
    background-color: black;
    width: 20%;
    font-size: larger;
    padding: 25px 30px;
    border: none;
    cursor: pointer;
    border-radius: 1px;
    color: #f1f1f1;
    background: rgb(0, 0, 0); /* Fallback color */ 
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    box-shadow: #ffe6ac;
    border: #ffe6ac;
    
    
}

.our-vision .fa-solid {
    position: absolute;
    bottom: -706.5%; 
    color:#f1f1f1;
    padding-left: 14%;
  }

  .our-team .content-7 {
    position: absolute;
    bottom: -768%;
    font-size: xx-large;
  }

  .our-team img{
    width: 100%;
    height: 500px;
    /* padding-top: 10px; */ 
    position: relative;
    bottom: -770px;
  }

  .our-team .content-8 {
    position: absolute;
    bottom: -860%;
    background-color: #ffe6ac;
    margin-right: 20%;
    padding-top: 2px;
    padding-bottom: 13px;
}
 
.our-team p {
  padding-top: 8px;
}

.our-team-2 img{
  width: 100%;
    height: 500px;
    /* padding-top: 10px; */ 
    position: relative;
    bottom: -920px;
}

.our-team-2 .content-9 {
  position: absolute;
  bottom: -950%;
  background-color: #ffe6ac;
  margin-right: 20%;
  padding-top: 2px;
  padding-bottom: 13px;
}

.box {
  position: absolute;
  bottom: -995%;
  margin-right: 20%;
  padding-top: 2px;
  padding-bottom: 13px;
} 


h1 {
  font-size: xx-large;
}

.box .btn-7 {
  background-color: black;
  color: #c78c06;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: large;
  
}

.table {
  position: absolute;
  bottom: -1020%;
}

table {
  table-layout: auto;
  width: 100%;
}

table, th, td {
  border: 0.5px solid;
  width: 80%;
  }


th {
  background-color: #ffe6ac;
  height: 70px;
}

.maps {
  position: absolute;
  bottom: -1100%;
}

.footer {
  position: absolute;
  bottom: -1110%;
  background-color: black;
  color: #c78c06;
  padding-top: 15px;
  padding-right: 355px;
  font-size: medium;
}


